<header class="Header">
    <div class="container">
      <a href="" class="Header-logo">
        <img src="../../assets/img/site-logo.png" alt="Logo" />
      </a>
      <div class="Header-menu">
        <div class="Header-menu-user">
          <a href="">Register</a>
          <a href="">Sign In</a>
        </div>
        <button class="Header-menu-switch" type="button">
          <i class="fa-light fa-bars"></i>
        </button>
        <a class="button" href="">List your property</a>
        <div class="Header-menu-helper">
          <select>
            <option value="en">En</option>
          </select>
          <select>
            <option value="uah">UAH</option>
          </select>
        </div>
      </div>
    </div>
  </header>
  