@import '../scss/config/variable.scss';

.Header {
    border-bottom: 1px solid;

    .container {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &-menu {
        margin-left: auto;
        display: flex;
    }

    &-logo {
        img {
            width: 144px;
        }
    }

    &-user {
        a {
            padding-left: 20px;
            padding-right: 20px;
            // height: $finger-size;

        }
        

    }
}